<footer class="py-3 border-top">
  
  <div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!-- Facebook -->
    <a href="https://www.facebook.com/share/iSW3SbifahGk6QWn/ "><i class="fa fa-facebook"></i></a>
  
    <!-- Linkedin -->
    <a href="https://www.linkedin.com/in/joel-estrada-877a59116?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
  
    <!-- Instagram -->
    
    <a href="https://www.instagram.com/joelestrada_29?igsh=MTZjamlpNjV6MHZxeg=="><i class="fa fa-instagram"></i></a>
    
  </div>
</footer>




  

  