

<div class="login-form text-center">
  <form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">   
    <img
      class="mb-3"
      src="https://idev.pt/chef-bestie/icon-chef-bestie.png"
      alt=""
      width="50"
      height="60"
    />
    <h1 class="mb-5">Please login</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="email"
      class="form-control"
      placeholder="Email address"
      required 
      [(ngModel)]="loginData.email"
      name="email"
      #email="ngModel"   
    />
    <div class="help is-error" style="font-size: x-small" *ngIf="email.invalid && (email.dirty || email.touched)" >
    Your email is required and needs to be a valid email. 
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="password"
      class="form-control"
      placeholder="Password"
      required
      [(ngModel)]="loginData.password"
      name="password" 
      #password="ngModel"      
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error" style="font-size: x-small">
      Password is required
    </div>
    
    <div class="checkbox mb-3"></div>
    <button 
    class="btn btn-lg btn-primary btn-block" 
    type="submit">
    Login
    </button>

    

  </form>
</div>


